body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#intro,
#raspberry-pi-solution,
#impact,
#skills,
#ready-for-action,
#see-it-in-action {
    margin-bottom: 20px;
}

#project-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}
